.page-container.no-scroll {
  overflow: hidden;
}
.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  

}
.category-banner {
  position: absolute;
  top: -55px; 
  left: 0;
  right: 0;
  
}

.banner-wrapper {
  width: 100%;
  position: relative;
  margin: auto;  
  z-index: 10;
  margin-bottom: 10px;
  height: 89px;
  
}

.action-wrapper{
  width: 100%;
  margin: auto;
  z-index: 10;
  height: 52px;
}

.page-container .tag{

  margin-left: 22px;
  margin-bottom: 10px;
}

.product-list {
  background-color: white;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: calc(100vh - 300px); 
  overflow-y: auto;
  padding:0px 16px;
}

.product-list::-webkit-scrollbar {
  width: 8px;
}

.product-list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}


@media (max-width: 416px) {
  .banner-wrapper p{
    font-size: 13px;
    margin-top: 0;
  }
  .info-tag {
    font-size: 10px;
    margin-bottom: 10px;
  }
  
}

@media (max-width: 380px) {
  .banner-wrapper p{
    font-size: 12px;
  }
  
}
@media (max-width: 350px) {

  .category-banner{
    height: 130px;
  }
  .banner-wrapper{
    height: 90px;
    
  }
  .category-banner-img {
    width: 100px;
    height: 100px;
  }
  .banner-content{
    width: 100%;
    height: 90%;
    background-color: yellow;
  }

  .banner-content h2 {
    font-size: 18px;
  
  }

  .banner-content p {
    font-size: 10px;
    
  }



  .action-wrapper {
    height: 40px;
    
  }
  .action-wrapper .action-bar button{
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .banner-wrapper p{
    font-size: 13px;
  }
  
}